<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <div class="divlogin">
        <div class="container">
            <div class="contenido">
                <figure id="logotipo">
                    <img src="assets/img/logo.jpg" width="200">                    
                </figure>
                <h2>{{ title }}</h2>
                <form @submit.prevent="sendForm">
                    <input type="text" v-if="form.type==1" placeholder="Your name">
                    <input type="email" :class="{'error':validaEmail}" placeholder="Email" v-model="form.email">
                    <input type="password" v-if="form.type!=2" :class="{'error':validaPassword}" placeholder="password"
                        v-model="form.password">
                    <input type="password" v-if="form.type==1" :class="{'error':verificaPaswordIguales}" placeholder="confirm password"
                        v-model="form.password2">
                    <button>{{ title }}</button>
                    <button v-if="form.type==0">Sign in with Google</button>
                </form>

                <a href="javascript:void(0)" @click="form.type=2" v-if="form.type!=2">Forgot your password?</a>
                <a href="javascript:void(0)" @click="form.type=1" v-if="form.type!=1">Sing up</a>
                <a href="javascript:void(0)" @click="form.type=0" v-if="form.type!=0">Sing in</a>


            </div>
        </div>
    </div>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/login.js"></script>

</body>

</html>